.define-icon {
  display: none;
  width: 30%;
}

#phone rect, #phone circle {
  fill: white;
}

#phone rect {
  stroke: #FF2626;
  stroke-width: 10px;
}

.displayed-icon {
  display: auto;
  width: 30%;
}