svg {
  height: auto;
  width: 50%;
}
circle {
  fill: none;
  stroke: #008B6F;
  stroke-width: 7px;
}

line {
  stroke: black;
  stroke-width: 5px;
}

text {
  font-size: 60px;
  text-anchor: middle;
  font-family: 'FilmotypeMajor';
  stroke: #000;
  stroke-width: 3px;
  fill: #F6F7F3;
}

polygon {
  fill: #008B6F;
  stroke: #000;
  stroke-width: 2px;
}

.triangle_group {
  stroke-width: 1px;
}